<component name="ArtifactManager">
  <artifact type="war" name="springandswagger:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springandswagger.war">
      <element id="artifact" artifact-name="springandswagger:war exploded" />
    </root>
  </artifact>
</component>